<!DOCTYPE html>
<html lang="en" class="no-js">
{% load static %}
<head>
    <title>Block Buster</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<!-- preloader -->
<div id="preloader">
    <img class="logo" src="{% static 'images/logo1.png' %}" alt="" width="119" height="58">
    <div id="status"><span></span><span></span></div>
</div>

<!-- login popup -->
<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Login</h3>
        <form method="post" action="#">
            {% csrf_token %}
            <div class="row">
                <label for="username">Username:
                    <input type="text" name="username" id="username" placeholder="Hugh Jackman" required="required" />
                </label>
            </div>
            <div class="row">
                <label for="password">Password:
                    <input type="password" name="password" id="password" placeholder="******" required="required" />
                </label>
            </div>
            <div class="row">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

<!-- header -->
<header class="ht-header">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1">
                        <span></span><span></span><span></span>
                    </div>
                </div>
                <a href="/"><img class="logo" src="{% static 'images/logo1.png' %}" alt="" width="119" height="58"></a>
            </div>
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
    <li class="hidden"><a href="#page-top"></a></li>
    <li class="dropdown first">
        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown">
        Home <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu level1">
            <li><a href="/">Home</a></li>
        </ul>
    </li>
    <li class="dropdown first">
        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
        Movies <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu level1">
            <li><a href="/movie/">Movie single</a></li>
        </ul>
    </li>
    <li class="dropdown first">
        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
        Celebrities <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu level1">
            <li><a href="#">Celebrity grid</a></li>
            <li class="it-last"><a href="#">Celebrity list</a></li>
        </ul>
    </li>
    <li class="dropdown first">
        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
        News <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu level1">
            <li><a href="#">Blog list</a></li>
            <li class="it-last"><a href="#">Blog detail</a></li>
        </ul>
    </li>
    <li class="dropdown first">
        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
        Community <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu level1">
            <li><a href="#">User profile</a></li>
            <li class="it-last"><a href="#">User rate</a></li>
        </ul>
    </li>
</ul>
                <ul class="nav navbar-nav flex-child-menu menu-right">
                    <li class="loginLink"><a href="#">LOG In</a></li>
                    <li class="btn signupLink"><a href="#">sign up</a></li>
                    <!-- DB - social links in header -->
                    {% for link in social_links %}
                    <li><a class="{{ link.anchor_class }}" href="{{ link.url }}">
                        <i class="{{ link.icon_class }}"></i>
                    </a></li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
</header>

<!-- Child templates inject here -->
{% block content %}
{% endblock %}

<!-- footer -->
<footer class="ht-footer">
    <div class="container">
        <div class="flex-parent-ft">
            <div class="flex-child-ft item1">
                <a href="/"><img class="logo" src="{% static 'images/logo1.png' %}" alt=""></a>
                <p>5th Avenue st, manhattan<br>New York, NY 10001</p>
                <p>Call us: <a href="#">(+01) 202 342 6789</a></p>
            </div>
            <div class="flex-child-ft item2">
                <h4>Resources</h4>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item5">
                <h4>Newsletter</h4>
                <p>Subscribe to our newsletter to get latest news.</p>
                <form method="post" action="/newsletter/">
                    {% csrf_token %}
                    <input type="email" name="email" placeholder="Enter your email...">
                    <button type="submit" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></button>
                </form>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/plugins2.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>